*{
	margin: 0;
	padding: 0;

}
.wrapper{
	background: url(o.jpg)no-repeat;
	background-size: cover;
	height: 100vh;
}
.navi{
height: 80px;
width: 100%;
background: rgba(0, 0, 0, 0.4);
}
.logo{
	width: 140px;
height: auto;
padding: 1px 100px;
border-radius: 100px;
}
.navi ul{
	float: right;
margin: 20px;
}
.navi li{
list-style: none;
margin:0 8px ;
display: inline-block;
line-height: 80px;
}
.navi ul li a{
text-decoration: none;
color: white;
font-size: 20px;
font-family:'roboto'sans-serif ;
background-color:;
margin: 15px;
padding: 6px 13px;
transition:s;
}
.active
{
	background: red;
	border-radius: 10px;
}
.about{
background: url(i.jpg);
	border-radius: 100px;
	

}
.btn{
	position: absolute;
	top: 60%;
	left: 47%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
	font-size: 20px;
	margin-right: 50px;
}
.button{
position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
	font-size: 20px;
}
h1{
	color: aqua;
	font-size: 60px;
font-weight: bold;
width: 1000px;
margin-top: 100px;
font-family: cursive;
text-align: center;
margin-left: 350px;
background-color: transparent;
}
h2{
color: white;
font-size: 70px;
font-weight: bold;
width: 885px;
margin-top: 10px;
text-align: right;
position: absolute;
top: 40%;
left: 10%;
font-weight: bold;


}
button{
height: 50px;
width: 150px;
font-size: 18px;
font-weight: bold;
color: #ffb3b3;
background: darkred;
border: 1px solid #cc000;
outline: none;
cursor: pointer;
border-radius: 25px;

}
.button button :hover{
	background: white;
}
.sign{
font-size: 20px;
background:transparent;
border-radius: 25px;
position: absolute;
top:1% ;
left: 90%;
color: white;
list-style: none;
text-decoration: none;
width: 70px;
transition: 0s;
background-color:#26f3 ;
}

a:hover{
	color: #255784;
background: red;
box-shadow: 0 0  10px #2696f3,0 0 40px #2196f3, 0 0 80px #2196f3;
transition-delay: 0.5s;

}
a{
	border-radius: 2500px;
}















